<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2OEu0y3kiop_r5TnXetNIXimQ01iW5yU</string>
	<key>GCM_SENDER_ID</key>
	<string>143999139081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCalendarExam</string>
	<key>PROJECT_ID</key>
	<string>flutter-calendar-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-calendar-exam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143999139081:ios:6fd57a8e6568effee967d8</string>
</dict>
</plist>